body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.mb-0 {
  margin-bottom: 0;
}

.mr-10 {
  margin-right: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.empty-data {
  text-align: center;
  margin: 50px 0;
}

.empty-data img {
  width: 100%;
  max-width: 600px;
}

.empty-data h3 {
  font-size: 22px;
}

.pagination-style {
  text-align: center;
  margin-top: 20px;
}

.main-wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 0;
}

.filter-style {
  margin-bottom: 20px;
  text-align: center;
}

.filter-style .ant-input-affix-wrapper {
  width: 400px;
  border-radius: 4px;
}

.movie-box {
  background-color: #ffffff;
  border: solid 1px #f1f1f1;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px #dcdcdcb5;
}

.movie-box img {
  width: 100%;
}

.movie-box .caption {
  padding: 30px 20px;
}

.movie-box .caption p:last-child {
  margin-bottom: 0;
}

.details-list-style .ant-col {
  margin-bottom: 15px;
}

.rating-box {
  border: solid 1px #f1f1f1;
  padding: 40px 20px;
  text-align: center;
  margin: 10px;
}

.rating-box p {
  margin-bottom: 5px;
}

.rating-box h3 {
  margin-bottom: 0;
  font-size: 22px;
}